# docker-compose version
version: "3.8"

#container list
services:
  db:
    image: mysql:5.7
    container_name: mysql
    restart: always
    volumes:
      # Mount cotainer drive to real drive
      - ./db:/docker-entrypoint-initdb.d
    networks:
      # network inside of a container
      - app-network
    ports:
      - "32000:3306"
    environment:
      MYSQL_ROOT_PASSWORD: meetdoc
      TZ: "Asia/Seoul"
    privileged: true
  meetdoc:
    image: ramtk6726/meetdoc
    container_name: meetdoc
    restart: always
    ports:
      - "8081:8081"
    environment:
      TZ: "Asia/Seoul"
      # Spring application.properties DB
      SPRING_DATASOURCE_URL: "jdbc:mysql://db:3306/meetdoc?userUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Seoul&zeroDateTimeBehavior=convertToNull&rewriteBatchedStatements=true"
      server.address: 0.0.0.0
    networks:
      - app-network
    depends_on:
      - db
  nginx:
    container_name: nginx
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "443:443"
    volumes:
      - ./dist:/var/www/html
      - ./nginx-conf:/etc/nginx/conf.d
      - ./certbot-etc:/etc/letsencrypt
    networks:
      - app-network
  certbot:
    container_name: certbot
    image: certbot/certbot
    volumes:
      - ./certbot-etc:/etc/letsencrypt
      - ./dist:/var/www/html
    depends_on:
      - meetdoc
    command: renew

volumes:
  certbot-etc:
  dist:
  nginx-conf:

networks:
  app-network:
    driver: bridge