/* 전체 페이지에 공통으로 들어가야할 css */
.container-body {
    margin: 10px 30%;
    text-align: center;
}

.container-header {
    margin: 10px;
}

h1 {
    text-align: center;
    width: 100%;
    margin: 20px 0px !important;
}